.red-color{
  color: red;
}

.green-color{
  color: green;
}

@media only screen and (min-width: 600px){
  #content{
    margin: 2% 10%;
  }
}

@media only screen and (min-width: 768px){
  #content{
    margin: 2% 25%;
  }
}
