<div id="content">
  <span id="title" i18n>Log in</span>
  <form [formGroup]="form" (ngSubmit)="submitLoginForm()">
    <div class="container">
      <div class="row">
        <div class="col-5 right">
          <label for="{{REF_PSEUDO}}" i18n>Pseudo :</label>
        </div>
        <div class="col-7">
          <input type="text" id="{{REF_PSEUDO}}" formControlName="{{REF_PSEUDO}}">
        </div>
      </div>

      <div class="row">
        <div class="col-5 right">
          <label for="{{REF_PASSWORD}}" i18n>Password :</label>
        </div>
        <div class="col-7">
          <input type="password" id="{{REF_PASSWORD}}" formControlName="{{REF_PASSWORD}}">
        </div>
      </div>
    </div>
    <div class="right top-margin">
      <span class="red-color" [innerHTML]="errorMessage"></span>
      <span class="green-color" [innerHTML]="succesMessage"></span>
    </div>
    <div class="right top-margin">
      <input type="button" class="btn btn-outline-info right-margin" routerLink="/register" value="Register"/>
      <button class="btn btn-outline-info" [disabled]="!form.valid" i18n>Log in</button>
    </div>
  </form>
</div>
