.select{
  width: 15%;
}

.frame{
  box-sizing: border-box;
  border-radius: 10px;
  outline: 1px solid black;
  outline-offset: -3px;
  -moz-outline-radius: 10px;
  padding: 10px;
}

.name{
  font-size: 1.5em;
  display:block;
}

.description{
  margin-left: 15px;
  padding-bottom: 15px;
  display: block;
}

.right{
  float:right;
  text-align: right;
}

.objective{
  font-size: 1.2em;
  display: block;
}

.green{
  color: green;
}

.red{
  color: red;
}
