<div id="content">
  <span id="title" i18n>Achievements list</span>
  <div class="container">
    <div class="row">
      <div class="col-3 frame" *ngFor="let el of achievements">
        <i class="fas fa-check-circle fa-2x right green" *ngIf="unlockedAchievement(el); else notUnlocked"></i>
        <ng-template #notUnlocked>
          <i class="fas fa-times-circle fa-2x right red"></i>
        </ng-template>
        <span class="name">{{el.name}}</span>
        <span class="description">{{el.description}}</span>
        <span class="objective" i18n>Goal : <br/>Own {{el.value}} sandwiches</span>
      </div>
    </div>
  </div>
</div>
