<div class="modal-header">
  <h4 class="modal-title" id="modal-title" i18n>Deleting an achievement</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong i18n>Do you want to delete the "<span class="text-primary">{{nameAchievement}}</span>" achievement ?</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="clickNo(); modal.dismiss('cancel click')" i18n>No</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="clickYes(); modal.close('Ok click')" i18n>Yes</button>
</div>
