<div class="modal-header">
  <h4 class="modal-title" id="modal-title" i18n>Creating an achievement</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong i18n>Please complete all fields !</strong></p>
  <form [formGroup]="form">
    <div class="container">
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_NAME}}" i18n>Name : </label>
        </div>
        <div class="col-8">
          <input type="text" id="{{REF_NAME}}" formControlName="{{REF_NAME}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_VALUE}}" i18n>Value : </label>
        </div>
        <div class="col-8">
          <input type="number" id="{{REF_VALUE}}" formControlName="{{REF_VALUE}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_DESCRIPTION}}" i18n>Description : </label>
        </div>
        <div class="col-8">
          <input type="text" id="{{REF_DESCRIPTION}}" formControlName="{{REF_DESCRIPTION}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_ICON}}" i18n>Icon : </label>
        </div>
        <div class="col-8">
          <input type="text" id="{{REF_ICON}}" formControlName="{{REF_ICON}}"/>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')" i18n>Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-success" [disabled]="!form.valid" (click)="buildUpgrade(); modal.close('Ok click')" i18n>Create</button>
</div>
