<div id="content">
  <span id="title" i18n>Users management</span>
  <div class="right bottom-margin" i18n>
    Sort by :
    <select size="1" class="custom-select select" (change)="updateFilter($event)">
      <option value="id">#
      <option value="lastName">Last Name
      <option value="firstName">First Name
      <option value="pseudo">Pseudo
      <option value="email">E-mail
      <option value="isAdmin">Admin
      <option value="isActivated">Activate
    </select>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="center" i18n>#</th>
      <th scope="col" class="center" i18n>Last Name</th>
      <th scope="col" class="center" i18n>First Name</th>
      <th scope="col" class="center" i18n>Pseudo</th>
      <th scope="col" class="center" i18n>E-mail</th>
      <th scope="col" class="center" i18n>Admin</th>
      <th scope="col" class="center" i18n>Activate</th>
      <th scope="col" class="center" i18n>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of users | sortUser: filter">
      <th scope="row" class="center">{{el.id}}</th>
      <th scope="row" class="center">{{el.lastName}}</th>
      <th scope="row" class="center">{{el.firstName}}</th>
      <th scope="row" class="center">{{el.pseudo}}</th>
      <th scope="row" class="center">{{el.email}}</th>
      <th scope="row" class="center">{{el.isAdmin}}</th>
      <th scope="row" class="center">{{el.isActivated}}</th>
      <th scope="row" class="center">
        <button class="btn btn-outline-primary center" (click)="update(el)"><i class="fas fa-edit"></i></button>
      </th>
    </tr>
    </tbody>
  </table>
</div>
