<div id="content">
  <span id="title" i18n>Upgrades management</span>
  <div>
    <button class="btn btn-outline-success" (click)="createUpgrade()" i18n><i class="fas fa-plus"></i> Create an upgrade</button>
  </div>
  <div class="right bottom-margin" i18n>
    Sort by :
    <select size="1" class="custom-select select" (change)="updateFilter($event)">
      <option value="idUpgrade">#
      <option value="name">Name
      <option value="value">Value
    </select>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="center" i18n>#</th>
      <th scope="col" class="center" i18n>Name</th>
      <th scope="col" class="center" i18n>Description</th>
      <th scope="col" class="center" i18n>Value</th>
      <th scope="col" class="center" i18n>Icon</th>
      <th scope="col" class="center" i18n>Update</th>
      <th scope="col" class="center" i18n>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of upgrades | sortUpgrade : filter">
      <th scope="row" class="center">{{el.idUpgrade}}</th>
      <td class="center">{{el.name}}</td>
      <td class="center">{{el.description}}</td>
      <td class="center">{{el.value}}</td>
      <td class="center">{{el.icon}}</td>
      <td class="center">
        <button class="btn btn-outline-primary center" (click)="update(el)"><i class="fas fa-edit"></i></button>
      </td>
      <td class="center">
        <button class="btn btn-outline-danger center" (click)="remove(el)"><i class="fas fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
