<div class="container-fluid">
  <!-- Titles -->
  <div class="row" >
    <div class="col-lg col-sm">
      <h1 class="text-center text-sm-center" i18n>Statistics</h1>
    </div>
    <div class="col-lg-5 col-sm-5">
      <h1 class="text-center text-sm-center" i18n> Sandwich Clicker</h1>
    </div>
    <div class="col-lg col-sm">
     <h1 class="text-center text-sm-center" i18n>Shop</h1>
    </div>
    <!-- END Titles -->
  </div>

  <!-- Content -->
  <div class="row">
    <div class="col-lg col-sm">
      <p i18n>Number of sandwiches per click : <span class="data">{{this.nbSandwichPerClick}}</span></p>
      <p i18n>Highest number of sandwiches : <span class="data" *ngIf="this.stats != undefined">{{this.stats.highestNbSandwich}}</span></p>
      <p i18n>Highest number of sandwiches per click : <span class="data" *ngIf="this.stats != undefined">{{this.stats.highestClickValue}}</span></p>
      <p i18n>Highest number of sandwiches per second : <span class="data" *ngIf="this.stats != undefined">{{this.stats.highestSecondValue}}</span></p>
      <p i18n>Total number of sandwiches collected : <span class="data" *ngIf="this.stats != undefined">{{this.stats.nbSandwichGot}}</span></p>
      <p i18n>Total number of clicks : <span class="data" *ngIf="this.stats != undefined">{{this.stats.nbClicks}}</span></p>
      <p i18n>Time played : <span class="data" *ngIf="this.stats != undefined">{{this.stats.timePlayed | displayTimer}}</span></p>
    </div>
    <div class="col-lg-5 col-sm-5">
      <div id="MainSandwich" class="text-center">
        <p i18n>Number of sandwiches : <span class="data" *ngIf="this.stats != undefined">{{this.stats.nbSandwich}}</span></p>
        <p i18n>Sandwiches by second : <span class="data">{{this.nbSandwichPerSecond}}</span></p>
        <img src="assets/img/sandwich.png" class="rounded" (click)="clickOnSandwich()">
      </div>
    </div>
    <div class="col-lg col-sm ">
      <h5 class="text-center text-sm-center">Upgrades</h5>

      <div class="scroll">
        <ul *ngFor="let el of upgrades | sortUpgradeGame">
          <li (click)="chooseUpgrade(el.idUpgrade)" id="{{el.idUpgrade}}">
            <div class="li-title">{{el.name.toUpperCase()}} <span class="small">- x{{upgradesBought.get(el.idUpgrade) || 0}}</span></div>
            <div class="li-description">{{el.description}}</div>
            <span i18n>Bonus : per click +{{el.value}} & per second +{{el.value / 4}}</span>
            <div i18n>Price : {{el.value * 100}} sandwiches</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg col-sm">
    </div>
    <div class="col-lg-5 col-sm-5">
      <span id="errorMessage">{{errorMessage}}</span>
    </div>
    <div class="col-lg col-sm ">
      <div class="row">
        <button (click)="buyUpgrade()" class="btn btn-outline-success" i18n>Buy upgrade</button>
        <button (click)="sellUpgrade()" class="btn btn-outline-danger" i18n>Sell upgrade</button>
      </div>
    </div>
  </div>

  <!-- END Content -->
</div>
