h1, h5, p, li{
  color: white;
}

li{
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

ul{
  padding-left: 0;
}

.col-lg-1{
  border-left: brown 0.2em solid;
  border-right: brown 0.2em solid;
}
.col-lg-3{
  border-left: brown 0.2em solid;
  border-right: brown 0.2em solid;
}

.col-lg-5{
  border-left: brown 0.2em solid;
  border-right: brown 0.2em solid;
}

.row {
  border-bottom: brown 0.2em solid;
}

#MainSandwich img{
  width : 15em;
  height: 15em;
  max-width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
#MainSandwich:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.data{
  font-size: 1.2em;
  color: #8dff87;
}

.li-title{
  font-size: 1.5em;
}

.li-description{
  font-size: 0.9em;
  margin-left: 30px;
}

.clicked{
  box-shadow: inset 5px 5px 40px 0px rgba(255,255,255,0.2);
}

.scroll{
  max-height: 25em;
  padding-right: 1em;
  overflow: auto;
}

::-webkit-scrollbar-button{
  display: none;
  height: 13px;
  border-radius: 0px;
  background-color: #0e2f44;
}

::-webkit-scrollbar-button:hover{
  background-color: #AAA;
}

::-webkit-scrollbar-thumb{
  background-color: #CCC;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #CCC;
}

::-webkit-scrollbar-track{
  background-color: #0e2f44;
}

::-webkit-scrollbar-track:hover{
  background-color: #0e2f44;
}

::-webkit-scrollbar{
  width: 12px;
}

.inline{
  display:inline-block;
  margin-right: 5px;
}

.errorMessage{

  color: red;
  size: 5em;
  padding: 3px;
  background-color: white;
  border: gray solid 1px;
  display: block;
}

.small{
  font-size: 0.7em;
}
