<div id="content">
  <span id="title" i18n>Register</span>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="container">
      <div class="row">
        <div class="col-5 right">
          <label for="{{REF_LAST_NAME}}" i18n>Last name :</label>
        </div>
        <div class="col-7">
          <input type="text" id="{{REF_LAST_NAME}}" formControlName="{{REF_LAST_NAME}}">
        </div>
      </div>

      <div class="row">
        <div class="col-5 right">
          <label for="{{REF_FIRST_NAME}}" i18n>First name :</label>
        </div>
        <div class="col-7">
          <input type="text" id="{{REF_FIRST_NAME}}" formControlName="{{REF_FIRST_NAME}}">
        </div>
      </div>

      <div class="row">
        <div class="col-5 right">
          <label for="{{REF_PSEUDO}}" i18n>Pseudo :</label>
        </div>
        <div class="col-7">
          <input type="text" id="{{REF_PSEUDO}}" formControlName="{{REF_PSEUDO}}">
        </div>
      </div>

      <div class="row">
        <div class="col-5 right">
          <label for="{{REF_EMAIL}}" i18n>E-mail :</label>
        </div>
        <div class="col-7">
          <input type="email" id="{{REF_EMAIL}}" formControlName="{{REF_EMAIL}}">
        </div>
      </div>

      <div class="row">
        <div class="col-5 right">
          <label for="{{REF_PASSWORD}}" i18n>Password :</label>
        </div>
        <div class="col-7">
          <input type="password" id="{{REF_PASSWORD}}" formControlName="{{REF_PASSWORD}}">
        </div>
      </div>

      <div class="row">
        <div class="col-5 right">
          <label for="{{REF_REPEAT_PASSWORD}}" i18n>Repeat password :</label>
        </div>
        <div class="col-7">
          <input type="password" id="{{REF_REPEAT_PASSWORD}}" formControlName="{{REF_REPEAT_PASSWORD}}">
        </div>
      </div>
    </div>

    <div class="right top-margin">
      <span class="red-color" [innerHTML]="errorMessage"></span>
      <span class="green-color" [innerHTML]="succesMessage"></span>
    </div>

    <div class="right top-margin">
      <input type="button" class="btn btn-outline-info right-margin" routerLink="/login" value="Log in" i18n>
      <button class="btn btn-outline-info" [disabled]="!form.valid" i18n>Register</button>

    </div>
  </form>
</div>
