<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="./" i18n>Sandwich-Clicker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="./" i18n>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/game" [hidden]="!this.jwt.hasToken()" i18n>Play !</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/game/achievements" [hidden]="!this.jwt.hasToken()" i18n>Achievements</a>
        </li>
        <li class="nav-item dropdown" [hidden]="!this.jwt.isAdmin()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n>
            Administration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/admin/upgrades" i18n>Upgrades management</a>
            <a class="dropdown-item" routerLink="/admin/users" i18n>Users management</a>
            <a class="dropdown-item" routerLink="/admin/achievements" i18n>Achievements management</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [hidden]="!this.jwt.hasToken()" (click)="this.jwt.logout()" i18n>Log out</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n>
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <a class="dropdown-item" href="" (click)="languageService.setLanguage('en')">English</a>
            <a class="dropdown-item" href="" (click)="languageService.setLanguage('fr')">Français</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
