<div class="modal-header">
  <h4 class="modal-title" id="modal-title" i18n>Updating a user</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong i18n>Please complete all fields !</strong></p>
  <form [formGroup]="form">
    <div class="container">
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_LASTNAME}}" i18n>Last name : </label>
        </div>
        <div class="col-8">
          <input type="text" id="{{REF_LASTNAME}}" formControlName="{{REF_LASTNAME}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_FIRSTNAME}}" i18n>First name : </label>
        </div>
        <div class="col-8">
          <input type="text" id="{{REF_FIRSTNAME}}" formControlName="{{REF_FIRSTNAME}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_EMAIL}}" i18n>E-mail : </label>
        </div>
        <div class="col-8">
          <input type="text" id="{{REF_EMAIL}}" formControlName="{{REF_EMAIL}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_ISADMIN}}" i18n>Admin : </label>
        </div>
        <div class="col-8">
          <input type="number" step="1" min="0" max="1" id="{{REF_ISADMIN}}" formControlName="{{REF_ISADMIN}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 right">
          <label for="{{REF_ISACTIVATED}}" i18n>Activated : </label>
        </div>
        <div class="col-8">
          <input type="number" step="1" min="0" max="1" id="{{REF_ISACTIVATED}}" formControlName="{{REF_ISACTIVATED}}"/>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')" i18n>Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-success" [disabled]="!form.valid" (click)="buildUser(); modal.close('Ok click')" i18n>Update</button>
</div>
