/* You can add global styles to this file, and also import other style files */
body{
  background-color: #0e2f44;
}

#content{
  background-color: white;
  padding: 2%;
  margin: 2% 5%;
  border-radius: 20px;
}

#title{
  font-size: 2em;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.bottom-margin{
  margin-bottom: 20px;
}

.top-margin{
  margin-top: 20px;
}

.right-margin{
  margin-right: 10px;
}

@media only screen and (min-width: 600px){
  #content{
    margin: 2% 8%;
  }
}

@media only screen and (min-width: 768px){
  #content{
    margin: 2% 10%;
  }
}
