<div id="content">
  <span id="title" i18n>Sandwich Clicker</span>
  <p class="center" i18n>Welcome to the site "Sandwich Clicker" !</p>
  <p class="center" i18n>This site is a partial replica of the game "Cookie Clicker".</p>
  <p class="center" i18n>To play, you must have an account.</p>
  <p class="center">
    <a routerLink="/login" i18n>Log in</a><br>
    <span i18n>or</span><br>
    <a routerLink="/register" i18n>Register</a>
  </p>
</div>
